* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
    padding: 20px;
}

.h1:not(:last-child) {
    font-size: 40px;
    background: linear-gradient(to top, black, aqua);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text {
    font-size: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to left, #ff7e5f, #0022ff, #00d9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-texts {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to left, #ff7e5f, #0022ff, #00d9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}